.h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-small;
}
.h2{
    font-weight: lighter;
   font-size: 0px;
   font-size: x-small;
   color: black;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;





}
.h1{
    margin-right: 600px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}